<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of checks</title>
</head>
<body>
<div th:if="${!marketCheckList.isEmpty()}" th:each="marketChek : ${marketCheckList}">
  <a th:text="${'Номер чека: ' + marketChek.getId() + ', Дата открытия чека: ' + marketChek.getCreateDate()}"
     th:href="@{/marketCheck/{id}(id=${marketChek.getId()})}"></a>
</div>

<div th:if="${marketCheckList.isEmpty()}">
  <a style="color: red">Чеков нет</a>
</div>
<form th:method="get" th:action="@{/marketCheck/new}">
  <input style="color: green" type="submit"  value="Открыть новый чек">
</form>
</body>
</html>