<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:valuetype="${marketCheck.getId()}">Title</title>
</head>
<body>
<span th:text="${'|Id чека: ' + marketCheck.getId() + '|'}"/><span th:text="${marketCheck.getMarketName() + '|'}"/>
<div th:if="${marketCheck.getCardNumber()}!=0">
  <span th:text="'|Дисконтная карта: ' + ${marketCheck.getCardNumber()}+'|'"/>
</div>
<div th:if="${marketCheck.getCardNumber()}==0">
  <span th:text="'|Дисконтная карта не предявлена'+'|'"/>
</div>
--------------------------------------------
<div th:each="purchase : ${marketCheck.getPurchasesList()}">
  <p th:text="${purchase.getId()}"></p>
</div>
</body>
</html>