<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${marketCheck.getId()}">Title</title>
</head>
<body>
<span th:text="${'|Id чека: ' + marketCheck.getId() + '|'}"/><span th:text="${marketCheck.getMarketName() + '|'}"/>
<div th:if="${marketCheck.getCardNumber()}!=0">
  <span style="color: green" th:text="'|Дисконтная карта: ' + ${marketCheck.getCardNumber()}+'|'"/>
  <br/>
  <h>-------------------------------------------</h>
  <div th:if="${!marketCheck.getPurchasesList().isEmpty()}">
    <div th:each="purchase : ${marketCheck.getPurchasesList()}">
<!--      Если товаров больше 5-->
      <div th:if="${purchase.getAmount() > 5}">
        <span th:text="${purchase.getProductId().getName()}"></span>
        <span th:text="${purchase.getAmount() + ' x'}"></span>
        <span th:text="${purchase.getProductId().getPrice() + ' ='}"></span>
        <span th:text="${(purchase.getProductId().getPrice() * purchase.getAmount()) - ((purchase.getProductId().getPrice() * purchase.getAmount()) * 0.1)}"></span>
        <span th:text="'Скидка 10%'" style="color: green"></span>
        <br/>
        <h>-------------------------------------------</h>
      </div>
      <!--      Если товаров меньше 5-->
      <div th:if="${purchase.getAmount() <= 5}">
        <span th:text="${purchase.getProductId().getName()}"></span>
        <span th:text="${purchase.getAmount() + ' x'}"></span>
        <span th:text="${purchase.getProductId().getPrice() + ' ='}"></span>
        <span th:text="${purchase.getProductId().getPrice() * purchase.getAmount()}"></span>
        <br/>
        <h>-------------------------------------------</h>
      </div>
    </div>
    <span th:text="'Итого: '+ ${sum}"></span>
  </div>
</div>


<!--Без дискнотной - без скидки-->
<div th:if="${marketCheck.getCardNumber()}==0">
  <span style="color: red" th:text="'|Дисконтная карта не предявлена'+'|'"/>
  <br/>
  <h>-------------------------------------------</h>
  <div th:if="${!marketCheck.getPurchasesList().isEmpty()}">
    <div th:each="purchase : ${marketCheck.getPurchasesList()}">
      <span th:text="${purchase.getProductId().getName()}"></span>
      <span th:text="${purchase.getAmount() + ' x'}"></span>
      <span th:text="${purchase.getProductId().getPrice() + ' ='}"></span>
      <span th:text="${purchase.getProductId().getPrice() * purchase.getAmount()}"></span>
      <br/>
      <h>-------------------------------------------</h>
    </div>
    <span th:text="'Итого: '+ ${sum}"></span>
  </div>
</div>
<div th:if="${marketCheck.getOpenStatus()}">
  <span style="color: green"> Чек открыт</span>
</div>
<div th:if="${!marketCheck.getOpenStatus()}">
  <span style="color: red"> Чек закрыт</span>
</div>

<div th:if="${marketCheck.getOpenStatus()}">
  <form th:method="patch" th:action="@{/marketCheck/{id}(id=${marketCheck.getId()})}" th:object="${purchase}">
    <label for="purchase">Выберите товар для добавления в чек:</label>
    <select th:object="${purchase}" th:field="*{productId}" id="purchase">
        <option th:each="product : ${productList}" th:value="${product.getId()}"
                th:text="${product.getName()}"></option>
      </select>
    <label for="amount">Выберите количество товара от 1 до 100: </label>
    <input type="text" th:field="*{amount}" id="amount"/>
    <div style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Error for field amount</div>
    <br/>
    <input style="color: green" type="submit" value="Добавить товар"/>
  </form>
</div>
<div th:if="${marketCheck.getOpenStatus()}">
  <form th:method="PATCH" th:action="@{/marketCheck/close/{id}(id=${marketCheck.getId()})}">
    <input style="color: red" type="submit" value="Закрыть чек">
  </form>
</div>
<form th:method="get" th:action="@{/marketCheck}">
  <input type="submit" value="Назад">
</form>
</body>
</html>